

name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dev-requirements.txt

    - name: Publish package to PyPI
      # uses: pypa/gh-action-pypi-publish@master
      # with:
      #   user: __token__
      #   password: ${{ secrets.pypi_token }}
      #   verbose: true
      if: ${{ github.ref == 'refs/heads/master' }}
      env:
        PYPI_TOKEN: ${{ secrets.pypi_token }}
      run: |
          ./check_version_bump.sh
          echo -e "username = __token__" >> .pypirc
          echo -e "password = $PYPI_TOKEN" >> .pypirc
          make publish


